<div class="main-layout">
  <div class="top-bar"></div>
</div>
<div class="page-content">
  <img src="src/assets/img/nattaya.jpeg">
  <p>Hello!! My name is Nattaya Trouillard</p><br>
  <p>Junior Front-end Developer, currently study at Becode Antwerpen.</p>
  <p>My main reason to become front-end developer is to satisfies my need for creativity.
    And with web development, it's enabled me to easily put my ideas into digital world
    and get results back really quick.
    I still remember my first time that I created an HTML page and opened it in the browser.
    I feel like a whole new world of possibilities just appeared in front of my eyes. And I feel so proud of myself.
    Beside this I feel empower to bring out my creativity to the world.
    So I became really passionate and kept creating since then. I would be really grateful that I’m able to make a living through it
    and can make my passion to my work.
    Absolutely has its ups and downs but if you love what you do and are able to provide value to people, the outcomes are far more rewarding!</p>

</div>
<app-about-me></app-about-me>
