@import "./src/main-style.scss";

.wrapper {
  height: 100vh;
  min-height: 800px;
  overflow-y: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.is-child {
  background-color: $primary-pink;
  p {
    font-family: $family-cursive;
    font-size: 22px;
    color: $dark;
  }
}

.is-8 {
  margin-left: auto;
  margin-right: auto;

  p {
    text-align: center;
    margin-top: 10px;
  }

  .allLink {
    display: flex;
    justify-content: space-around;
    margin: 5px;
  }
}

fa-icon {
  stroke: $pink;
  color: $dark;
  padding: 10px;
}

a:before {
  color: $dark;
}
a:hover {
  transform: scale(1.2);
  cursor: pointer;

}
