<app-header></app-header>
<div class="container">
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <div class="content">

          <p><fa-icon [icon]="name" size="lg"></fa-icon><strong>Name : </strong></p><br>
          <p><fa-icon [icon]="birthday" size="lg"></fa-icon><strong>Birthday : </strong></p><br>
          <p><fa-icon [icon]="address" size="lg"></fa-icon><strong>Address : </strong></p><br>
          <p><fa-icon [icon]="email" size="lg"></fa-icon><strong>Email : </strong></p><br>
        </div>
      </article>
    </div>

    <div class="tile is-parent is-8">
      <article class="tile is-child box">
        <div class="content">
          <p>Nattaya Trouillard</p><br>
          <p>18 Jan 1982</p><br>
          <p>Huickstraat 11, 9190 STEKENE</p><br>
          <p>nattaya.trouille@gmail.com</p>
        </div>
      </article>
    </div>
  </div>

  <div class="is-ancestor social ">
    <div class="tile is-parent is-8">
      <article class="tile is-child">
        <div class="title">
          <p>Check out my social media</p>
        </div>
        <div class="content allLink">
            <a href="https://github.com/Nattaya-TR">
              <fa-icon [icon]="faGithub" size="5x"></fa-icon>
            </a>
            <a href="https://www.linkedin.com/in/nattaya-trouillard/">
              <fa-icon [icon]="faLinkedIn" size="5x"></fa-icon>
            </a>

            <a href="https://www.flickr.com/photos/natisworld/">
              <fa-icon [icon]="faFlickr" size="5x"></fa-icon>
            </a>
        </div>
      </article>
    </div>
  </div>
</div>

<app-footer></app-footer>
<router-outlet></router-outlet>
