<app-header></app-header>
<div class="container">
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <div class="content">
          <p><strong>Name : </strong></p><br>
          <p><strong>Birthday : </strong></p><br>
          <p><strong>Address : </strong></p><br>
          <p><strong>Email : </strong></p><br>
        </div>
      </article>
    </div>

    <div class="tile is-parent is-8">
      <article class="tile is-child box">
        <div class="content">
          <p>Nattaya Trouillard</p><br>
          <p>18 Jan 1982</p><br>
          <p>Huickstraat 11, 9190 STEKENE</p><br>
          <p>nattaya.trouille@gmail.com</p>
        </div>
      </article>
    </div>
  </div>

    <div class="is-ancestor social">
    <div class="tile is-parent">
      <article class="tile is-child">
      <div class="title">
        <p>Check out my social media</p>
      </div>
      <div class="content">
        <span class="icon">
        <a class="fab fa-github" href="https://github.com/Nattaya-TR">GitHub</a>
        </span>
        <a href="https://www.linkedin.com/in/nattaya-trouillard/">LinkedIn</a>

        <a href="https://www.flickr.com/photos/natisworld/">Flickr</a>
      </div>
      </article>
    </div>
  </div>
</div>

<app-footer></app-footer>
<router-outlet></router-outlet>
