@charset "utf-8";
//changing bulma variable and adding global styles

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

// Set your brand colors
$purple: #a395f5;
$pink: #fe76c2;
$blue: #37c7f2;
$dark: #441f44;

//template
$primary-light: #f5f2ee;
$primary-gold: #c38757;
$primary-pink: rgba(164, 124, 124, 0.5);
$primary-dark: #8c8c7c;

$light-red: #fff3f3;

$light: rgba(241, 193, 225, 0.96);
$green : #1ac977;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $purple;
$link: $blue;
$family-cursive: 'itim', cursive;


// Update some of Bulma's component variables
$body-background-color: $light;
$control-border-width: 2px;
$input-border-color: transparent;
$input-background-color: #f3f5fa;
$input-shadow: none;

/* Global style */

html, body {
  height: 100%;
  background: url("../src/assets/img/bg.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
}
