@import "src/main-style.scss";

nav {
  font-family: $family-cursive;
  color: $dark;
  font-size: 22px;
  background: url("../../../assets/img/bg.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
}

.logo {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

