
<nav class="navbar" role="navigation" aria-label="main-navigation">
  <div class="navbar-brand">
    <a routerLink=""><img class="logo" src="{{LogoImage}}" alt="logo"></a>
    <a class="navbar-item" routerLink=""> Home </a>
    <a class="navbar-item" routerLink="/about" > About Me </a>
    <a class="navbar-item" routerLink="/project"> My project </a>
    <a class="navbar-item" routerLink="/skill"> My skill </a>
  </div>

  <div class="navbar-end">
    <div class="navbar-item">
      <div class="">
      <a class="button is-small is-outlined" href="mailto:nattaya.trouille@gmail.com">
        <fa-icon [icon]="email" size="lg"></fa-icon>
        <strong>Email Me</strong>
      </a>
      <a class="button is-small is-outlined" href="tel:+32472114366">
        <fa-icon [icon]="phone" size="lg"></fa-icon>
        <strong>Call Me</strong>
      </a>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
