@import "src/main-style.scss";

.is-small {
  width : 500px;
  height: 100px;
  background-color: $primary-pink;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.typing {
  width: 8ch;
  color: $dark;
  white-space: nowrap;
  font-size: 48px;
  font-family: $family-cursive;
  overflow: hidden;
  border-right: 1px solid;
  animation: typing 2s steps(8), blink .5s step-end infinite alternate;
 }

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }

}

.section {
  padding-top: 25px;
}
