<app-header></app-header>
<div class="container">
  <div class="section typing-wrapper">
    <h2 class="typing">
      MY SKILLS.
    </h2>
  </div>
</div>

<div class="container">
  <div class="tile is-ancestor">
    <div class="tile is-6 is-parent">
      <div class="tile is-child lang">
        <h2 class="title">Coding Languages Skills</h2>
        <h4>HTML</h4>
        <mat-progress-bar mode="determinate" value="80" color="accent"></mat-progress-bar>
        <br>
        <h4>CSS</h4>
        <mat-progress-bar mode="determinate" value="70" color="accent"></mat-progress-bar>
        <br>
        <h4>JavaScript</h4>
        <mat-progress-bar mode="determinate" value="70" color="accent"></mat-progress-bar>
        <br>
        <h4>Angular</h4>
        <mat-progress-bar mode="determinate" value="70" color="accent"></mat-progress-bar>
        <br>
      </div>
    </div>
    <div class="tile is-6 is-parent">
      <div class="tile is-child lang">
      <h2 class="title">Languages Skills</h2>
        <h4>Nederlands</h4>
        <mat-progress-bar mode="determinate" value="60" color="accent"></mat-progress-bar>
        <br>
        <h4>English</h4>
        <mat-progress-bar mode="determinate" value="80" color="accent"></mat-progress-bar>
        <br><h4>Thai</h4>
        <mat-progress-bar mode="determinate" value="100" color="accent"></mat-progress-bar>
        <br>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <section class="section is-small extra">
    <h2 class="title">Another Skills</h2>
    <h4>Photoshop</h4>
    <mat-progress-bar mode="determinate" value="50" color="accent"></mat-progress-bar>
    <br>
  </section>
</div>


<app-footer></app-footer>
