<div class="container">
  <section class="section is-medium">
    <figure class="image">
      <img class="is-rounded" src="{{profileImage}}" alt="portrait">
    </figure>
    <div class="box">
      <div class="title">
        <span class="block"></span>
        <h1>Nattaya Trouillard<span></span></h1>
      </div>
      <br>
      <div class="role">
        <div class="block"></div>
        <p>Junior Front-end Developer.</p>
      </div>
    </div>

      <article class="message">
        <p class="message-body is-medium">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          My main reason to become front-end developer is to satisfies my need for creativity.&nbsp;&nbsp;
          And with web development, it's enabled me to easily put my ideas into digital world
          and get results back really quick. <br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I still remember my first time that I created an HTML page and opened it in the browser.
          &nbsp;&nbsp;I feel like a whole new world of possibilities just appeared in front of my eyes. And I feel so proud of
          myself.&nbsp;&nbsp;Beside this I feel empower to bring out my creativity to the world.&nbsp;&nbsp;
          So I became really passionate and kept creating since then.&nbsp;&nbsp; I would be really grateful that I’m able to make a
          living through it and can make my passion to my work.<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Absolutely has its ups and downs but if you love what you do, you will never give it up.
          And if there are able to provide value to the people, the outcomes are far more rewarding!</p>
      </article>
    <a href="">More About Me</a>
  </section>
</div>
