<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>&#169;copyright 2021, Nattaya Trouillard </strong>
    </p>
    <div class="content allLink">
      <a href="https://github.com/Nattaya-TR">
        <fa-icon [icon]="faGithub" size="2x"></fa-icon>
      </a>
      <a href="https://www.linkedin.com/in/nattaya-trouillard/">
        <fa-icon [icon]="faLinkedIn" size="2x"></fa-icon>
      </a>
      <a href="https://www.flickr.com/photos/natisworld/">
        <fa-icon [icon]="faFlickr" size="2x"></fa-icon>
      </a>
    </div>
  </div>
</footer>
